#homepage {
    height: 300px;
}

#addBut {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    left: 250px;
    top:100px;
    background-color: cornflowerblue;
    border: 1px solid blue;
}
#allRooms{
    height: 300px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-left:100px;
}
